*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
    background-color: rgb(243, 219, 219);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.row>:nth-child(1){
    width: 70%;
    height: 70%;
}
.row>:nth-child(2){
    font-size: 2rem;
}
.row>:nth-child(3){
    font-size: 1.2rem;
    color: green;
}